---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Winter%20is%20coming
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '31.633333333333'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '986.75527777778'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"l4FGqpVoc9JE7rAS4","slug":"prepareforwinter-l4FGqpVoc9JE7rAS4","url":"https:\/\/giphy.com\/gifs\/prepareforwinter-l4FGqpVoc9JE7rAS4","bitly_gif_url":"https:\/\/gph.is\/2qSjUlz","bitly_url":"https:\/\/gph.is\/2qSjUlz","embed_url":"https:\/\/giphy.com\/embed\/l4FGqpVoc9JE7rAS4","username":"prepareforwinter","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-05-23
        17:08:14","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media1.giphy.com\/avatars\/prepareforwinter\/2K6yub4ByzLp.png","banner_url":"https:\/\/media1.giphy.com\/headers\/prepareforwinter\/vj0au6BUstUG.png","banner_image":"https:\/\/media1.giphy.com\/headers\/prepareforwinter\/vj0au6BUstUG.png","profile_url":"https:\/\/giphy.com\/prepareforwinter\/","username":"prepareforwinter","display_name":"Game
        of Thrones: #PrepareForWinter","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200_s.gif","width":"356","height":"200","size":"47376"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy_s.gif","width":"400","height":"225","size":"61021"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w.gif","width":"200","height":"113","size":"742564","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w.mp4","mp4_size":"44340","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w.webp","webp_size":"169186"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100_s.gif","width":"178","height":"100","size":"14354"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200_d.gif","width":"356","height":"200","size":"280439","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200_d.webp","webp_size":"42038"},"preview":{"width":"317","height":"178","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-preview.mp4","mp4_size":"19633"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100.gif","width":"178","height":"100","size":"589679","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100.mp4","mp4_size":"68834","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100.webp","webp_size":"138940"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-downsized_s.gif","width":"250","height":"140","size":"24906"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-downsized.gif","width":"250","height":"140","size":"1144799"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.gif","width":"400","height":"225","size":"3175273"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100w_s.gif","width":"100","height":"57","size":"6430"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-preview.webp","width":"256","height":"144","size":"48934"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w_s.gif","width":"200","height":"113","size":"17379"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100w.gif","width":"100","height":"57","size":"189395","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100w.mp4","mp4_size":"17820","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/100w.webp","webp_size":"62094"},"downsized_small":{"width":"400","height":"224","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-downsized-small.mp4","mp4_size":"156032"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w_d.gif","width":"200","height":"113","size":"94818","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200w_d.webp","webp_size":"19570"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.gif","width":"400","height":"225","size":"3175273"},"original":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.gif","width":"400","height":"225","size":"3175273","frames":"54","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.mp4","mp4_size":"186433","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.webp","webp_size":"497996","hash":"6534e3e2f64510a4601ca066dea93d92"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200.gif","width":"356","height":"200","size":"2373258","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200.mp4","mp4_size":"113915","webp":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/200.webp","webp_size":"365622"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-loop.mp4","mp4_size":"1031175"},"original_mp4":{"width":"480","height":"270","mp4":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy.mp4","mp4_size":"186433"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/giphy-preview.gif","width":"126","height":"71","size":"49534"},"480w_still":{"url":"https:\/\/media0.giphy.com\/media\/l4FGqpVoc9JE7rAS4\/480w_s.jpg","width":"480","height":"270"}},"title":"got
        GIF by Game of Thrones: #PrepareForWinter","_score":2500040.2,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee86a485a5032bb4139&event_type=GIF_SEARCH&gif_id=l4FGqpVoc9JE7rAS4&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee86a485a5032bb4139&event_type=GIF_SEARCH&gif_id=l4FGqpVoc9JE7rAS4&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee86a485a5032bb4139&event_type=GIF_SEARCH&gif_id=l4FGqpVoc9JE7rAS4&action_type=SENT"}}},{"type":"gif","id":"3ohzdUi5U8LBb4GD4s","slug":"prepareforwinter-game-of-thrones-snow-3ohzdUi5U8LBb4GD4s","url":"https:\/\/giphy.com\/gifs\/prepareforwinter-game-of-thrones-snow-3ohzdUi5U8LBb4GD4s","bitly_gif_url":"https:\/\/gph.is\/2qMKlZw","bitly_url":"https:\/\/gph.is\/2qMKlZw","embed_url":"https:\/\/giphy.com\/embed\/3ohzdUi5U8[...]
