---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Sunny%20forever
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"elDbdRaY778E3gFlNk","slug":"animalkingdom-season-3-elDbdRaY778E3gFlNk","url":"https:\/\/giphy.com\/gifs\/animalkingdom-season-3-elDbdRaY778E3gFlNk","bitly_gif_url":"https:\/\/gph.is\/2BdBAPx","bitly_url":"https:\/\/gph.is\/2BdBAPx","embed_url":"https:\/\/giphy.com\/embed\/elDbdRaY778E3gFlNk","username":"animalkingdom","source":"","rating":"g","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2018-08-15
        17:50:15","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/animalkingdom\/svsmJoDqJmLh.jpg","banner_url":"","profile_url":"https:\/\/giphy.com\/animalkingdom\/","username":"animalkingdom","display_name":"Animal
        Kingdom on TNT","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200_s.gif","width":"356","height":"200","size":"58989"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy_s.gif","width":"480","height":"270","size":"107803"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w.gif","width":"200","height":"113","size":"1069628","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w.mp4","mp4_size":"120530","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w.webp","webp_size":"417292"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100_s.gif","width":"178","height":"100","size":"17044"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200_d.gif","width":"356","height":"200","size":"353683","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200_d.webp","webp_size":"95254"},"preview":{"width":"280","height":"160","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-preview.mp4","mp4_size":"36532"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100.gif","width":"178","height":"100","size":"872174","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100.mp4","mp4_size":"205773","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100.webp","webp_size":"349402"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-downsized_s.gif","width":"291","height":"163","size":"42999"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-downsized.gif","width":"291","height":"163","size":"1847650"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy.gif","width":"480","height":"270","size":"6517222"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100w_s.gif","width":"100","height":"57","size":"6555"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-preview.webp","width":"158","height":"89","size":"49714"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w_s.gif","width":"200","height":"113","size":"20903"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100w.gif","width":"100","height":"57","size":"270428","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100w.mp4","mp4_size":"44175","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/100w.webp","webp_size":"143594"},"downsized_small":{"width":"308","height":"176","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-downsized-small.mp4","mp4_size":"112771"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w_d.gif","width":"200","height":"113","size":"122853","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200w_d.webp","webp_size":"39740"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-downsized-medium.gif","width":"384","height":"216","size":"3990746"},"original":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy.gif","width":"480","height":"270","size":"6517222","frames":"74","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy.mp4","mp4_size":"434704","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy.webp","webp_size":"1815428","hash":"250fb60fe244e6c6367a12e5767851c9"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200.gif","width":"356","height":"200","size":"3415881","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200.mp4","mp4_size":"331080","webp":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/200.webp","webp_size":"1000684"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-loop.mp4","mp4_size":"2067002"},"original_mp4":{"width":"479","height":"270","mp4":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy.mp4","mp4_size":"434704"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/elDbdRaY778E3gFlNk\/giphy-preview.gif","width":"114","height":"64","size":"49677"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/elDbdRaY778E3gFlNk\/480w_s.jpg","width":"480","height":"270"}},"title":"sad
        season 3 GIF by Animal Kingdom on TNT","_score":1017.45245,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee76654333155a591d3&event_type=GIF_SEARCH&gif_id=elDbdRaY778E3gFlNk&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee76654333155a591d3&event_type=GIF_SEARCH&gif_id=elDbdRaY778E3gFlNk&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c742ee76654333155a591d3&event_type=GIF_SEARCH&gif_id=elDbdRaY778E3gFlNk&action_type=SENT"}}},{"type":"gif","id":"43MVx0PZtAlZzYjRyD","slug":"animalkingdom-tv-show-43MVx0PZtAlZzYjRyD","url":"https:\/\/giphy.com\/gifs\/animalkingdom-tv-show-43MVx0PZtAlZzYjRyD","bitly_gif_url":"https:\/\/gph.is\/2qbi1i1","bitly_url":"https:\/\/gph.is\/2qbi1i1","embed_url":"https:\/\/giphy.com\/embed\/43MVx0PZtAlZzYjRyD","username":"animalkin[...]
