---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?api_key=<GIPHY_API_KEY>&q=Partly%20cloudy%20throughout%20the%20day.
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Hour:
      - '42'
      X-Ratelimit-Remaining-Hour:
      - '41'
      X-Ratelimit-Limit-Day:
      - '1000'
      X-Ratelimit-Remaining-Day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"12AwtlTuPlF29y","slug":"epic-city-12AwtlTuPlF29y","url":"https:\/\/giphy.com\/gifs\/epic-city-12AwtlTuPlF29y","bitly_gif_url":"https:\/\/gph.is\/1ah7W2o","bitly_url":"https:\/\/gph.is\/1ah7W2o","embed_url":"https:\/\/giphy.com\/embed\/12AwtlTuPlF29y","username":"","source":"https:\/\/ipowder.tumblr.com\/post\/23083760976\/night-cloud-covers","rating":"g","content_url":"","source_tld":"ipowder.tumblr.com","source_post_url":"https:\/\/ipowder.tumblr.com\/post\/23083760976\/night-cloud-covers","is_sticker":0,"import_datetime":"2013-12-29
        18:58:59","trending_datetime":"1970-01-01 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200_s.gif","width":"417","height":"200"},"original_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy_s.gif","width":"500","height":"240"},"fixed_width":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w.gif","width":"200","height":"96","size":"27256","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w.mp4","mp4_size":"8485","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w.webp","webp_size":"35286"},"fixed_height_small_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100_s.gif","width":"208","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200_d.gif","width":"417","height":"200","size":"223064","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200_d.webp","webp_size":"103272"},"preview":{"width":"450","height":"216","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-preview.mp4","mp4_size":"34369"},"fixed_height_small":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100.gif","width":"208","height":"100","size":"94396","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100.mp4","mp4_size":"37911","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100.webp","webp_size":"38304"},"downsized_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-downsized_s.gif","width":"500","height":"240","size":"45219"},"downsized":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-downsized.gif","width":"500","height":"240","size":"510063"},"downsized_large":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.gif","width":"500","height":"240","size":"510063"},"fixed_width_small_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100w_s.gif","width":"100","height":"48"},"preview_webp":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-preview.webp","width":"283","height":"136","size":"42950"},"fixed_width_still":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w_s.gif","width":"200","height":"96"},"fixed_width_small":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100w.gif","width":"100","height":"48","size":"27256","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100w.mp4","mp4_size":"17052","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/100w.webp","webp_size":"10174"},"downsized_small":{"width":"500","height":"240","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-downsized-small.mp4","mp4_size":"61264"},"fixed_width_downsampled":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w_d.gif","width":"200","height":"96","size":"54798","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200w_d.webp","webp_size":"20818"},"downsized_medium":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.gif","width":"500","height":"240","size":"510063"},"original":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.gif","width":"500","height":"240","size":"510063","frames":"10","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.mp4","mp4_size":"35912","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.webp","webp_size":"229508"},"fixed_height":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200.gif","width":"417","height":"200","size":"94396","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200.mp4","mp4_size":"8452","webp":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/200.webp","webp_size":"173090"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-loop.mp4","mp4_size":"3813028"},"original_mp4":{"width":"480","height":"230","mp4":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy.mp4","mp4_size":"35912"},"preview_gif":{"url":"https:\/\/media2.giphy.com\/media\/12AwtlTuPlF29y\/giphy-preview.gif","width":"154","height":"74","size":"49838"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/12AwtlTuPlF29y\/480w_s.jpg","width":"480","height":"230"}},"title":"partly
        cloudy city GIF","_score":789.9541,"analytics":{"onload":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7418bf77777657550b5890&event_type=GIF_SEARCH&gif_id=12AwtlTuPlF29y&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7418bf77777657550b5890&event_type=GIF_SEARCH&gif_id=12AwtlTuPlF29y&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy_analytics.giphy.com\/simple_analytics?response_id=5c7418bf77777657550b5890&event_type=GIF_SEARCH&gif_id=12AwtlTuPlF29y&action_type=SENT"}}},{"type":"gif","id":"aQ7kognlRPDzi","slug":"beach-clouds-aQ7kognlRPDzi","url":"https:\/\/giphy.com\/gifs\/beach-clouds-aQ7kognlRPDzi","bitly_gif_url":"https:\/\/gph.is\/28LBLPK","bitly_url":"https:\/\/gph.is\/28LBLPK","embed_url":"https:\/\/giphy.com\/embed\/aQ7kognlRPDzi","username":"","source":"https:\/\/www.transformtomorrow.com\/po[...]
