---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=miami,fl&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Miami",
                       "short_name" : "Miami",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Miami-Dade County",
                       "short_name" : "Miami-Dade County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Florida",
                       "short_name" : "FL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Miami, FL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 25.855773,
                          "lng" : -80.139157
                       },
                       "southwest" : {
                          "lat" : 25.709042,
                          "lng" : -80.31975989999999
                       }
                    },
                    "location" : {
                       "lat" : 25.7616798,
                       "lng" : -80.1917902
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 25.855773,
                          "lng" : -80.139157
                       },
                       "southwest" : {
                          "lat" : 25.709042,
                          "lng" : -80.31975989999999
                       }
                    }
                 },
                 "place_id" : "ChIJEcHIDqKw2YgRZU-t3XHylv8",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 26 Feb 2019 03:29:27 GMT
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?accuracy=11&api_key=<FLICKR_API_KEY>&format=json&lat=25.7616798&lon=-80.1917902&method=flickr.photos.search&safe_search=1&tag_mode=all&tags=skyline,sunset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":1,"perpage":250,"total":"249","photo":[{"id":"46970998281","owner":"30597028@N03","secret":"b88f7bc26d","server":"4893","farm":5,"title":"Miami,
        FL","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46057147975","owner":"30597028@N03","secret":"6b5e8b944b","server":"4884","farm":5,"title":"Miami
        Sunset","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46895098871","owner":"55059611@N04","secret":"4f56f15833","server":"4814","farm":5,"title":"good_night_miami","ispublic":1,"isfriend":0,"isfamily":0},{"id":"31787986857","owner":"30597028@N03","secret":"b40ebe5a79","server":"4807","farm":5,"title":"Off
        of Virginia Key","ispublic":1,"isfriend":0,"isfamily":0},{"id":"4445[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=<FLICKR_API_KEY>&format=json&method=flickr.photos.getSizes&photo_id=46970998281&safe_search=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"sizes":{"canblog":0,"canprint":0,"candownload":1,"size":[{"label":"Square","width":75,"height":75,"source":"https:\/\/farm5.staticflickr.com\/4893\/46970998281_b88f7bc26d_s.jpg","url":"https:\/\/www.flickr.com\/photos\/30597028@N03\/46970998281\/sizes\/sq\/","media":"photo"},{"label":"Large
        Square","width":"150","height":"150","source":"https:\/\/farm5.staticflickr.com\/4893\/46970998281_b88f7bc26d_q.jpg","url":"https:\/\/www.flickr.com\/photos\/30597028@N03\/46970998281\/sizes\/q\/","media":"photo"},{"label":"Thumbnail","width":"100","height":"55","source":"https:\/\/farm5.staticflickr.com\/4893\/46970998281_b88f7bc26d_t.jpg","url":"https:\/\/www.flickr.com\/photos\/30597028@N03\/46970998281\/sizes\/t\/","media":"photo"},{"label":"Small","width":"2[...]
