---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=new%20york,ny&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "New York",
                       "short_name" : "New York",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "New York, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 40.9175771,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4773991,
                          "lng" : -74.25908989999999
                       }
                    },
                    "location" : {
                       "lat" : 40.7127753,
                       "lng" : -74.0059728
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 40.9175771,
                          "lng" : -73.70027209999999
                       },
                       "southwest" : {
                          "lat" : 40.4773991,
                          "lng" : -74.25908989999999
                       }
                    }
                 },
                 "place_id" : "ChIJOwg_06VPwokRYv534QaPC8g",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 24 Feb 2019 17:09:12 GMT
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?accuracy=11&api_key=ef34a73484f542e3d4cd0d309536c746&format=json&lat=40.7127753&lon=-74.0059728&method=flickr.photos.search&safe_search=1&tag_mode=all&tags=skyline,sunset
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: 'jsonFlickrApi({"photos":{"page":1,"pages":17,"perpage":250,"total":"4088","photo":[{"id":"32240934897","owner":"14148151@N04","secret":"2ca2bb6852","server":"7907","farm":8,"title":"L1006843.jpg","ispublic":1,"isfriend":0,"isfamily":0},{"id":"32929278970","owner":"25582125@N04","secret":"a775387096","server":"723","farm":1,"title":"West
        23rd Street (Dusk) - Manhattan, New York City","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46255489955","owner":"11374444@N07","secret":"42d881b7f8","server":"7894","farm":8,"title":"Trip
        to NYC - October 2017","ispublic":1,"isfriend":0,"isfamily":0},{"id":"46384987034","owner":"34388055@N08","secret":"fa675c3792","server":"7921","farm":8,"title":"Sparkle
        in the St[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest/?api_key=ef34a73484f542e3d4cd0d309536c746&format=json&method=flickr.photos.getSizes&photo_id=42334956665&safe_search=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Public-Key-Pins-Report-Only:
      - max-age=2592000; pin-sha256="2fRAUXyxl4A1/XHrKNBmc8bTkzA7y4FB/GLJuNAzCqY=";
        pin-sha256="I/Lt/z7ekCWanjD0Cvj5EqXls2lOaThEA0H2Bg4BT/o="; pin-sha256="Wd8xe/qfTwq3ylFNd3IpaqLHZbh2ZNCLluVzmeNkcpw=";
        pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="i7WTqTvh0OioIruIfFR4kMPnBqrS2rdiVPl/s2uC/CY=";
        pin-sha256="r/mIkG3eEpVdm+u/ko/cwxzOMo1bk4TyHIlByibiA5E="; pin-sha256="uUwZgwDOxcBXrQcntwu+kYFpkiVkOaezL0WYEZ3anJc=";
        pin-sha256="dolnbtzEBnELx/9lOEQ22e6OZO/QNb6VSSX2XHA3E7A="; includeSubdomains;
        report-uri="http://csp.yahoo.com/beacon/csp?src=yahoocom-hpkp-report-only"
    body:
      encoding: ASCII-8BIT
      string: jsonFlickrApi({"sizes":{"canblog":0,"canprint":0,"candownload":1,"size":[{"label":"Square","width":75,"height":75,"source":"https:\/\/farm1.staticflickr.com\/845\/42334956665_04a83a2063_s.jpg","url":"https:\/\/www.flickr.com\/photos\/simonmassicotte\/42334956665\/sizes\/sq\/","media":"photo"},{"label":"Large
        Square","width":"150","height":"150","source":"https:\/\/farm1.staticflickr.com\/845\/42334956665_04a83a2063_q.jpg","url":"https:\/\/www.flickr.com\/photos\/simonmassicotte\/42334956665\/sizes\/q\/","media":"photo"},{"label":"Thumbnail","width":"100","height":"67","source":"https:\/\/farm1.staticflickr.com\/845\/42334956665_04a83a2063_t.jpg","url":"https:\/\/www.flickr.com\/photos\/simonmassicotte\/42334956665\/sizes\/t\/","media":"photo"},{"label":"Small","width[...]
